/*-------------------------------------------------------------------------------
   ПАРАМЕТРЫ, КОТОРЫЕ ИСПОЛЬЗУЮТСЯ НЕ НА ОДНОЙ СТРАНИЦЕ, А НА МНОЖЕСТВО СТРАНИЦ
 --------------------------------------------------------------------------------*/

/*Параметры для ссылок в таблице*/
.tb{
    text-decoration: none; /*Стиль текста*/
    color: white; /*Цвет текста*/
}

/*Параметры для ссылок в таблице ПРИ НАВЕДЕНИИ*/
.tb:hover{
    color: white; /*Цвет текста*/
    text-decoration: underline; /*Стиль текста, подчеркнутый*/
}

/*Даёт округление всем кнопочкам*/
.btn-danger{
    border-radius: 20px;
}

/*Параметры для группы списков*/
.nav-pills{
    margin-right: 2%; /*Отступ справа*/
}

/*Параметры для кнопок шапки*/
.btn_li{
    display: flex;
    margin-left: 10%;
}

/*Параметры для ссылок ШАПКИ КНОПКИ*/
.a_info{
    margin-right: 10px;
}

/*ДОП. параметры дял ссылок ШАПКИ КНОПКИ*/
.aish{
    border-color: #6E0800;
}

/*Параметры для ссылок ОСНОВНОГО МЕНЮ КНОПКИ*/
.ai{
    background: #89342DFF;
}

/*Параметры для тела*/
body{
    color: white; /*Цвет текста*/
    background: #DD4C41; /*Задний фон*/
}

/*Ширина scrollbar*/
body::-webkit-scrollbar{
    width: 10px;
}

/*Цвет дорожки*/
body::-webkit-scrollbar-track{
    background: #DD4C41;
}

body::-webkit-scrollbar-thumb{
    background: #6E0800; /*Цвет плашки*/
    border-radius: 20px; /*Закругление плашки*/
}

/*Параметры для самой таблицы*/
table{
    margin-top: 2%; /*Отступ сверху*/
    table-layout: fixed; /*На равные ячейки делит таблицу*/
}

/*Параметры для h1*/
h1{
    font-size: 20px; /*Размер текста*/
}

/*Заголовок таблицы*/
th{
    color: white; /*Цвет текста*/
    text-align: center; /*Выравнивание текста - по центру*/
}

/*Параметры для ячейки*/
td{
    color: white; /*Цвет текста*/
    text-align: center; /*Выравнивание текста - по центру*/
}

/*----------------------
        ТАБЛИЦА 1,2
 -----------------------*/

.main{
    background: #6E0800;
}

/*----------------------
          ШАПКА
 -----------------------*/

/*Параметры для ссылки шапки слева*/
.fs-4{
    color: white; /*Цвет текста*/
}
/*Параметры для ссылок*/
.nav-link{
    color: white; /*Цвет текста*/
}

/*Параметры для всего контейнера*/
.container{
    background: #6E0800; /*Задний фон*/
    border-radius: 0px 0px 30px 30px; /*Скругление углов (лево в, права в, лево н, права н)*/
}

/*----------------------
          ЛОГИН
 -----------------------*/

/*Форма логина*/
.form_login{
    align-content: center; /*Расположение элементов*/
    margin-left: 35%; /*Отступ слева*/
    margin-right: 35%; /*Отсутп слева*/
    margin-top: 5%; /*Отступ сверху*/
}

/*Параметры для кнопки подтверждения*/
.btn-sbm{
    margin-left: 40%; /*Отступ слева*/
    border: none; /*Границы элемента*/
    background: #6E0800; /*Задний фон*/
    border-radius: 20px; /*Округление углов*/
    color: white; /*Цвет текста*/
    padding: 2% 3%; /*Внутренний отступ (вверх, права)*/
}

/*--------------------------------------
        ПОДРОБНАЯ ИНФОРМАЦИЯ О ЗАЯВКЕ
 ---------------------------------------*/

/*Заголовок заявки*/
.info{
    display: flex;
    color: white;
    margin-top: 3%;
}

/*Параметры для левой части заголовка*/
.sag{
    margin-left: 10%;
    margin-right: 50%;
}

/*Основной текст заявки*/
.info_text{
    margin-left: 10%;
    margin-top: 3%;
    font-size: 20px;
    margin-right: 10%;
    text-align: justify;
}

/*Параметры для показа даты*/
.date_info{
    margin-right: 15%;
    margin-top: 3%;
    font-size: 20px;
    text-align: right;
}


/*Параметры для кнопки "ЗАВЕРШЕНИЕ ЗАЯВКИ"*/
.btn_info{
    text-align: center;
}

/*Параметры ИМЕННО дла кнопки "ЗАВЕРШЕНИЕ ЗАЯВКИ"*/
.dg{
    background: #6E0800;
}

.info_texarea{
    border-radius: 10px;
    border: none;
    resize: none;
    width: 100%;
}

.zp{
    margin-left: 33%;
    margin-right: 33%;
}

.man{
    margin-left: 25%;
}
